@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

$open-sans: 'Open Sans', sans-serif;

$poppins: 'Poppins', sans-serif;

$pink: #CAA892;
$green: #37806B;
$grey: #646464;
$black: #212121;
$brown: #B0855B;
$dark_white: #E0E0E0;
$white: #ffffff;
$line_color: #B7B7B7;
//dark mode 
$dark_bg: #303030;
$dark_text: #CFCFCF